
<div class="wrapper">
    <div class="row">
        <!-- <h4>Solar Cleaners</h4> -->
        <mat-card style="width: 70%; margin: 10px 20px; line-height: 40px;"><p>Solar Cleaners(Solar Voltage)</p></mat-card>
    </div>

    <div class="row">

        <!-- chart table  -->
        <div class="container80">
            <mat-card>
                <div id="chartContainer" style="height: 100px; width: 96%;"></div>
            </mat-card>
            <mat-card>
                <div id="chartContainer2" style="height: 100px; width: 96%;"></div>
            </mat-card>
            <mat-card>
                <div id="chartContainer3" style="height: 100px; width: 96%;"></div>
            </mat-card>
            <mat-card>
                <div id="chartContainer4" style="height: 100px; width: 96%;"></div>
            </mat-card>
        
        </div>
    
        <!-- current value box -->
        
        <div class="container20">
            <mat-card>
                <div style="height: 100px; width: 100%;">
                    <h4>Solar Voltage(Volts)</h4>
                    <p><small>Current  Value</small></p>
                    <h4>66.25</h4>
                    <span>
                        <div>
                            <p><small>Max Value</small></p>
                            <h4>53</h4>
                        </div>
                        <div>
                            <p><small>Min Value</small></p>
                            <h4>24.56</h4>
                        </div>   
                    </span>
                </div>
            </mat-card>
            <mat-card>
                <div  style="height: 100px; width: 100%;">
                    <h4>Solar Voltage(Volts)</h4>
                    <p><small>Current  Value</small></p>
                    <h4>66.25</h4>
                    <span>
                        <div>
                            <p><small>Max Value</small></p>
                            <h4>53</h4>
                        </div>
                        <div>
                            <p><small>Min Value</small></p>
                            <h4>24.56</h4>
                        </div>   
                    </span>
                </div>
            </mat-card>
            <mat-card>
                <div  style="height: 100px; width: 100%;">
                    <h4>Solar Voltage(Volts)</h4>
                    <p><small>Current  Value</small></p>
                    <h4>66.25</h4>
                    <span>
                        <div>
                            <p><small>Max Value</small></p>
                            <h4>53</h4>
                        </div>
                        <div>
                            <p><small>Min Value</small></p>
                            <h4>24.56</h4>
                        </div>   
                    </span>
                </div>
            </mat-card>
            <mat-card>
                <div  style="height: 100px; width: 100%;">
                    <h4>Solar Voltage(Volts)</h4>
                    <p><small>Current  Value</small></p>
                    <h4>66.25</h4>
                    <span>
                        <div>
                            <p><small>Max Value</small></p>
                            <h4>53</h4>
                        </div>
                        <div>
                            <p><small>Min Value</small></p>
                            <h4>24.56</h4>
                        </div>   
                    </span>
                </div>
            </mat-card>
        
        </div>
    </div>

</div>

