<mat-card class="example-card">
    <img mat-card-image src="../../../assets/Skilancer solar.png" alt="Photo of a UCT">
    <mat-list role="list"> 
        <mat-divider></mat-divider>       
            <a mat-list-item routerLinkActive="list-item-active"
             [routerLinkActiveOptions]="{exact:true}" 
             matRipple 
             routerLink="">Dashboard</a>


             <mat-divider></mat-divider>


        <mat-accordion >
            <mat-expansion-panel style="background: mistyrose;">
                <mat-expansion-panel-header >
                    <mat-panel-title>
                       Analytics 
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-divider></mat-divider>
                <a mat-list-item  matRipple routerLinkActive="list-item-active" routerLink="/Solar1">Solar Cleaner 1</a>
                <mat-divider></mat-divider>
                <a mat-list-item  matRipple routerLinkActive="list-item-active" routerLink="/Solar2">Solar Cleaner 2</a>
                <mat-divider></mat-divider>
                <a mat-list-item  matRipple routerLinkActive="list-item-active" routerLink="/Solar3">Solar Cleaner 3</a>
                <mat-divider></mat-divider>
                <a mat-list-item  matRipple routerLinkActive="list-item-active" routerLink="/Solar4">Solar Cleaner 4</a>
                
            </mat-expansion-panel>
               <mat-divider></mat-divider>
     <a mat-list-item  matRipple routerLinkActive="list-item-active" routerLink="/Alerts">Alerts</a>
         <mat-divider></mat-divider>
            <a mat-list-item  matRipple routerLinkActive="list-item-active" routerLink="/Reports">Reports</a>
        <mat-divider></mat-divider>
        <a mat-list-item  matRipple routerLinkActive="list-item-active" routerLink="/ScRegistory">SC Ragistory</a>
        <mat-divider></mat-divider>
        

</mat-accordion>
<mat-divider></mat-divider>
    </mat-list>
</mat-card>                